*/

/** MAIN LAYOUT - FIXED WIDTH
---------------------------------*/

#page{
	width:800px;  /* If you change this value, you will have to change the 
										margins of the content and the sidebar right */
	margin:0 auto;
}
#content, .two-sidebars #content{
  width: 400px;
  float: left;
  margin-left: 200px; /* The width of #sidebar-left */
  margin-right: -600px; /* Negative value of #content's width + left margin. */
  padding: 0; /* Changing this might break the layout. Add padding or margin to #content-inner. */
	overflow:hidden; /* hide content the overflow content */
}

.sidebar-left #content{
  width: 600px;
  margin-left: 200px; /* The width of #sidebar-left. */
  margin-right: -800px; /* Negative value of #content's width + left margin. */
}

.sidebar-right #content{
  width: 600px;
  margin-left: 0;
  margin-right: -600px; /* Negative value of #content's width + left margin. */
}

.no-sidebars #content{
  width: 800px;
  margin-left: 0;
  margin-right: -800px; /* Negative value of #content's width + left margin. */
}

#content-inner{
  margin: 0;
  padding: 0;
}
/** sidebar-left **/

#sidebar-left {
  float: left;
  width: 200px;
  margin-left: 0;
  margin-right: -200px; /* Negative value of #sidebar-left's width + left margin. */
  padding: 0; /* Changing this might break the layout. Add padding or margin to #sidebar-left-inner. */
}

/** sidebar-right **/

#sidebar-right{
  float: left;
  width: 200px;
  margin-left: 600px; /* Width of content + sidebar-left. */
  margin-right: -800px; /* Negative value of #sidebar-right's width + left margin. */
  padding: 0; /* Changing this might break the layout. Add padding or margin to #sidebar-right-inner. */
}

/*---------------------------------*/

/* Layout Helpers */

#header,
#footer,
#main #content .mission,
#main #content .breadcrumb,
#main #content .node {
	clear: both;
}


/* header 
--------------------------- */

#header #logo-title {
	margin: 0;
}

#header #logo-title #logo{
	vertical-align: baseline;
}

#header #logo-title #name-and-slogan {
	display: inline;
}

#header #logo-title #site-name {
	margin: 0;
	display: inline;
}

#header #logo-title #site-slogan {
	margin-left: 20px;
}

#header #header-region {
	overflow: hidden;
}


#content{
margin-bottom:300px;
}

/* footer */
#footer {
position:fixed; left:0px; bottom:0px;
width:100%;
max-height:200px;
min-height:20px;
z-index:10;
}

#footer .block{
border:none;
background:none;
padding:0px;
margin:0px;
font:normal;
}
#footer .block-content{
border:none;
background:none;
padding:0px;
margin:0px;
}
#footer .block-title{
border:none;
background:none;
padding:0px;
margin:0px;
}
#footer-container {
width:780px;
margin-left:auto;
margin-right:auto;
}
#footer-left{
float:left;
width:200px;
border-right:1px dashed #333333;
margin-right:5px;
padding-right:5px;
}
#footer-center{
float:left;
width:150px;
border-right:1px dashed #333333;
margin-right:5px;
padding-right:5px;
}
#footer-right{
float:left;
width:408px;
}
#footer-message{
clear:both;
}
