*/

/** MAIN LAYOUT - FIXED WIDTH
---------------------------------*/

/** content **/

#content {
	overflow:hidden;
  float: left;
  width: 100%;
  margin-left: 0;
  margin-right: -100%; /* Negative value of #content's width + left margin. */
  padding: 0; /* Changing this might break the layout. Add padding or margin to #content-inner. */
}

.two-sidebars #content-inner {
  padding-left: 210px; /* The width + left margin of #sidebar-left. */
  padding-right: 210px; /* The width + right margin of #sidebar-right. */
}

.sidebar-left #content-inner {
  padding-left: 210px; /* The width + left margin of #sidebar-left. */
  padding-right: 0;
}

.sidebar-right #content-inner {
  padding-left: 0;
  padding-right: 210px; /* The width + right margin of #sidebar-right. */
}

#content-inner {
  margin: 0;
  padding: 0;
}

/** sidebar-left **/

#sidebar-left {
  float: left;
  width: 200px;
  margin-left: 0;
  margin-right: -200px; /* Negative value of #sidebar-left's width + left margin. */
  padding: 0; /* Changing this might break the layout. Add padding or margin to #sidebar-left-inner. */
}

/** sidebar-right **/

#sidebar-right {
  float: right;
  width: 200px;
  margin-left: -200px; /* Negative value of #sidebar-right's width + right margin. */
  margin-right: 0;
  padding: 0; /* Changing this might break the layout. Add padding or margin to #sidebar-right-inner. */
}


/*---------------------------------*/

/* Layout Helpers */

#header,
#footer,
#main #content .mission,
#main #content .breadcrumb,
#main #content .node {
	clear: both;
}

#header,
#footer {
	background-color:#95B7D3;
	background-image:url(../images/misc/header.png);
	background-position:bottom;
	background-repeat:repeat-x;
}

#footer {
text-align:center
}

.sidebar {
	background-color:#FFFFFF;
}



/* header 
--------------------------- */

#header {
	margin: 0;
	position: relative;
}

#header #logo-title #logo {
	vertical-align: baseline;
}

#header #logo-title #name-and-slogan {
	display: inline;
}

#header #logo-title #site-name {
	margin: 0;
	display: inline;
}

#header #logo-title #site-slogan {
	margin-left: 20px;
}

#header #header-region {
	overflow: hidden;
}

/* footer 
--------------------------- */

#footer {
	float: none;
	clear:both;
	height: 20px;
}
