*/

/* GENERAL Styles 
----------------------------*/

body {
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
  border: #000000 1px solid;
}

#page {
	/* Use a 14px base font size with a 18px line height */
  font-size:14px;
  margin-left:auto;
  margin-right:auto;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: Calibri, Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}

p {
margin-bottom:10px;
}

.node-teaser {
border:1px solid #EEEEEE;
margin-bottom:20px;
text-align:justify;
word-wrap: break-word;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.comment {
padding:10px;
margin:10px;
background-color:#DDDDDD;
border: 1px solid #333333;
}
.comment.mine {
border:#BB0000 solid 1px;
}

.submitted {
font-size:12px;
padding-left:5px;
}
.block {
margin:5px;
margin-bottom:10px;
margin-top:0px;
}

.block-content {
padding:5px;
}

.block-title {
padding:5px;
padding-left:10px;
border-bottom:#000000 thin dashed;
margin-bottom:5px;
}

.teaser-links {
padding-bottom:5px;
}
.content {
padding:5px;
}
.node-title {
padding:5px;
}

#navigation {
margin-right:5px;
padding-top:2px;
float:right;
}



#logo-title {
padding: 10px;
}

#footer {
background:#000000;
padding:5px;
min-height:25px;
color:#FFFFFF;
border-top:#FF0000 1px solid;
font-size:12px;
}
#footer-message{
font-size:9px;
text-align:center;
}
#footer-right {
text-align:justify;
}
#header{
border-bottom:#000000 thin dashed;
margin-bottom:10px;
}

.digg-story {
padding:5px;
margin:5px;
margin-bottom:10px;
border:1px solid #EEEEEE;
}
/* When declaring Link states, remember: LoVe HA : Link | Hover | Visited | Active */

a:link, a:visited {
  color:#FF0000;
  text-decoration:none;
}
a:hover, a:active {
  color:#000000;
  text-decoration:none;
}
h3 a:link, h2 a:visited {
  color:#000000;
  text-decoration:none;
}
h3 a:hover, h2 a:active {
  color:#FF0000;
  text-decoration:none;
}

h2 a:link, h2 a:visited {
  color:#000000;
  text-decoration:none;
}
h2 a:hover, h2 a:active {
  color:#FF0000;
  text-decoration:none;
}

h1 a:link, h2 a:visited {
  color:#000000;
  text-decoration:none;
}
h1 a:hover, h2 a:active {
  color:#FF0000;
  text-decoration:none;
}

#primary a:link, #primary a:visited {
background:url(../images/misc/pri_link.png) top center no-repeat;
padding-top:2px;
color:#000000;
}

#primary a:hover, #primary a:active {
background:url(../images/misc/pri_roll.png) top center no-repeat;
padding-top:3px;
border-bottom:#FF0000 dashed 1px;
color:#999999;
}

.admin a:link, .admin a:visited {
color:#990000;
}

.admin a:hover, .admin a:active {
color:#FF0000;
}

#footer  a:hover, #footer  a:active {
  color:#FFFFFF;
  text-decoration:none;
}

/* Titles  */

h1{
	font-size:2em;
	line-height:1.3em;
	margin-bottom:0.5em;
	margin-top:0pt;
	color:#000000;
	text-transform:capitalize;
}

h3 {
text-transform:capitalize;
font-size:1em;
color:#000000;
}

#footer h3 {
color:#FF0000;
}

/* Lists  */

ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* tables  */

table {
	width: 96%;
	margin-left:auto;
	margin_right:auto;
}
tr.even td, tr.odd td {
	padding: 10px 5px;
}
tr.even {
	background-color:#EEEEEE;
}
tr.odd {
	background-color: #FFF;
}

/* Code */

pre, code {
	background-color:#efefef;
	display:block;
	padding:5px;
	margin:5px 0;
	border:1px solid #aaa;
  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
}

/* List Styles */

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/* Abbreviation */

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* Date-based "abbreviations" show computer-friendly timestamps which are not
   human-friendly. */

abbr.created {
  border: none;
  cursor: auto;
  white-space: normal;
}

/* User Interface Styles 
---------------------------- */

.resizable-textarea textarea {
	font-size:14px!important;
}
.messages {
	padding: 10px;
	margin: 10px;
	border: 1px solid #04a107;
	color: #04a107;
	background-color: #edffed;
}
form{
	margin:10px 0;
}

/* Rollover edit links for blocks
----------------------------*/

div.block {
  position: relative;

}
div.block div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}
div.block:hover div.edit {
  display: block;
}
